Source: ros-indigo-hironx-rpc-server
Section: misc
Priority: extra
Maintainer: TORK <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roslint, ros-indigo-rostest
Homepage: http://wiki.ros.org/hironx_rpc
Standards-Version: 3.9.2

Package: ros-indigo-hironx-rpc-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-hironx-ros-bridge, ros-indigo-hironx-rpc-msgs, ros-indigo-hrpsys, ros-indigo-hrpsys-ros-bridge, ros-indigo-tork-rpc-util
Description: This package provides RPC (Remote Procedure Call) server feature for higher level of robot operations for the Hironx-variant robots (i.e.
 Hironx, NEXTAGE Open).
